# global var which will be used in other tmpl files
{{- $allHosts := lsdir "/hosts" }}
{{- $joiningHosts := lsdir "/adding-hosts" }}
{{- $usingGsid := split "appv-9b7na511 appv-89xrqcih" " " | filter (getv "/upgrade-audit/from_app_version" "none") }}

stableNodes="$(echo "
{{- range $allHosts }}
{{- if not ($joiningHosts | filter .) }}
{{ getv (printf "/hosts/%s/sid" .) }}/{{ getv (printf "/hosts/%s/node_id" .) }}/{{ getv (printf "/hosts/%s/ip" .) }}
{{- end }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"

joiningNodes="$(echo "
{{- range $joiningHosts }}
{{ getv (printf "/adding-hosts/%s/sid" .) }}/{{ getv (printf "/adding-hosts/%s/node_id" .) }}/{{ getv (printf "/adding-hosts/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"

leavingNodes="$(echo "
{{- range lsdir "/deleting-hosts" }}
{{ getv (printf "/deleting-hosts/%s/sid" .) }}/{{ getv (printf "/deleting-hosts/%s/node_id" .) }}/{{ getv (printf "/deleting-hosts/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"

flush /opt/app/bin/envs/node-zookeeper.env << ZK_ENV_EOF
SERVICES="\$SERVICES zookeeper-server/true/tcp:{{ getv "/cluster/endpoints/client/port" "2181" }}"
NODE_CTL="zookeeper"
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
IS_UPGRADING={{ exists "/upgrade-audit/from_app_version" }}
MY_IP={{ getv "/host/ip" }}
MY_ZK_ID={{ if $usingGsid }}{{ getv "/host/gsid" }}{{ else }}{{ getv "/host/sid" }}{{ end }}
ZK_PORT={{ getv "/cluster/endpoints/client/port" "2181" }}
STABLE_NODES="$stableNodes"
JOINING_NODES="$joiningNodes"
LEAVING_NODES="$leavingNodes"
ZK_ENV_EOF
