{{- $allHosts := lsdir "/hosts" }}
{{- $leavingHosts := lsdir "/deleting-hosts" }}
{{- $joiningHosts := lsdir "/adding-hosts" }}

flush /opt/app/bin/envs/node-zookeeper.env << ZK_ENV_EOF
SERVICES="\$SERVICES $(echo "
zookeeper-server/true/tcp:{{ getv "/cluster/endpoints/client/port" "2181" }}
zookeeper-rest/{{ getv "/env/zkrest.enabled" "true" }}/http:9998
" | xargs)"
NODE_CTL="zookeeper"
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
ZK_PORT={{ getv "/cluster/endpoints/client/port" "2181" }}
ZK_NODES="$(echo "
{{- range $allHosts }}
{{ getv (printf "/hosts/%s/sid" .) }}/{{ getv (printf "/hosts/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"
JOINING_ZK_NODES="$(echo "
{{- range $joiningHosts }}
{{ getv (printf "/adding-hosts/%s/sid" .) }}/{{ getv (printf "/hosts/%s/node_id" .) }}/{{ getv (printf "/adding-hosts/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"
LEAVING_ZK_NODES="$(echo "
{{- range $leavingHosts }}
{{ getv (printf "/deleting-hosts/%s/sid" .) }}/{{ getv (printf "/hosts/%s/node_id" .) }}/{{ getv (printf "/deleting-hosts/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"
ZK_ENV_EOF
