dumpFlags="-XX:HeapDumpPath=/data/zookeeper/dump/dump.hprof"
{{- if eq "true" (getv "/env/zkAdminEnabled" "false") }}
pushd /opt/zookeeper/current
jarFiles="$(echo -n lib/slf4j-api*):lib/zookeeper-$ZK_VERSION.jar"
authFlags="-Dzookeeper.DigestAuthenticationProvider.superDigest=$(java -cp $jarFiles \
           org.apache.zookeeper.server.auth.DigestAuthenticationProvider \
           "{{ getv "/env/zkAdminUsername" "" }}:{{ getv "/env/zkAdminPassword" "" }}" | awk -F'->' '{print $2}')"
popd
{{- end }}

roFlags="-Dreadonlymode.enabled={{ getv "/env/readonlymode.enabled" "false" }}"

flush /opt/app/conf/zookeeper/java.env << ZK_JAVA_ENV_EOF
SERVER_JVMFLAGS="$dumpFlags $authFlags $roFlags"
ZK_SERVER_HEAP={{ sub (getv "/host/memory") 90 }}
ZK_JAVA_ENV_EOF
