{{- if (getv "/env/zkAdminEnabled" "false") }}
pushd /opt/zookeeper/current
jarFiles="$(ls lib/* | egrep '^lib/(slf4j-api|zookeeper)-[0-9]' | xargs)"
jvmFlags="-Dzookeeper.DigestAuthenticationProvider.superDigest=$(java -cp ${jarFiles// /:} \
           org.apache.zookeeper.server.auth.DigestAuthenticationProvider \
           "{{ getv "/env/zkAdminUsername" "" }}:{{ getv "/env/zkAdminPassword" "" }}" 2> /dev/null | awk -F'->' '{print $2}')"
popd
{{- end }}

flush /opt/app/conf/zookeeper/java.env << ZK_JAVA_ENV_EOF
SERVER_JVMFLAGS="$jvmFlags"
ZK_SERVER_HEAP={{ sub (getv "/host/memory") 90 }}
ZK_JAVA_ENV_EOF
