flush /opt/app/conf/zookeeper/zoo.cfg << ZOO_CONF_EOF
tickTime={{ getv "/env/tickTime" "2000" }}
initLimit={{ getv "/env/initLimit" "10" }}
syncLimit={{ getv "/env/syncLimit" "5" }}
dataDir=/data/zookeeper
clientPort={{ getv "/cluster/endpoints/client/port" "2181" }}
maxClientCnxns={{ getv "/env/maxClientCnxns" "1000" }}
autopurge.snapRetainCount={{ getv "/env/autopurge.snapRetainCount" "3" }}
autopurge.purgeInterval={{ getv "/env/autopurge.purgeInterval" "1" }}

{{- range getvs "/hosts/*/ip" }}
server.{{ index (split . ".") 3 }}={{ . }}:2888:3888
{{- end }}
ZOO_CONF_EOF
