firstJoiningNode="${joiningNodes%% *}"

flush /opt/app/conf/zookeeper/zoo.cfg << ZOO_CONF_EOF
tickTime={{ getv "/env/tickTime" "2000" }}
initLimit={{ getv "/env/initLimit" "10" }}
syncLimit={{ getv "/env/syncLimit" "5" }}
dataDir=/data/zookeeper
clientPort={{ getv "/cluster/endpoints/client/port" "2181" }}
maxClientCnxns={{ getv "/env/maxClientCnxns" "1000" }}
autopurge.snapRetainCount={{ getv "/env/autopurge.snapRetainCount" "3" }}
autopurge.purgeInterval={{ getv "/env/autopurge.purgeInterval" "0" }}
4lw.commands.whitelist=mntr,{{ getv "/env/4lw.commands.whitelist" "" }}
tcpKeepAlive={{ getv "/env/tcpKeepAlive" "false" }}

{{- range $allNodes }}
{{- if not ($joiningNodes | filter .) }}
server.{{ if $usingGsid }}{{ getv (printf "/hosts/%s/gsid" .) }}{{ else }}{{ getv (printf "/hosts/%s/sid" .) }}{{ end }}={{ getv "/cluster/cluster_id" }}-{{ getv (printf "/hosts/%s/sid" .) }}:2888:3888
{{- end }}
{{- end }}

{{- $mySid := getv "/host/sid" }}
{{- range $joiningNodes }}
{{- $sid := getv (printf "/adding-hosts/%s/sid" .) }}
{{- if le $sid $mySid }}
server.{{ $sid }}={{ getv "/cluster/cluster_id" }}-{{ $sid }}:2888:3888
{{- end }}
{{- end }}

{{- if $joiningNodes }}
{{- if and (not ($joiningNodes | filter (getv "/host/instance_id"))) (eq (sub (len $allNodes) (len $joiningNodes)) 1) }}
server.${firstJoiningNode%%/*}={{ getv "/cluster/cluster_id" }}-${firstJoiningNode%%/*}:2888:3888
{{- end }}
{{- end }}
ZOO_CONF_EOF
